<h1>Lucky Guy</h1>

<div ng-controller='SortudoCtrl'>
	<form ng-submit='addPlayer()'>
		<input type='text' placeholder = 'Name' ng-model='newPlayer.name'>
		<input type='submit' value='Add'>
	</form>
	
  <ul>
		<li>
			Player
			<div>Turn, Dice, Roll Score, Turn Score, Total Score, Dice Left </div>
		</li>
		<li ng-repeat='player in players'>
			<div id='player_btns'>
				<button ng-disabled='!(player.able) || (players.length < 2)' ng-click='rollDice(player)'>Roll</button>
				<button ng-disabled='!(player.able) || (players.length < 2)' class='stop' ng-click='stopMe(player)'>Stop</button>
			</div>
			{{player.name}}
			<span ng-show='player.winner'>** The Winner **</span>
			<div>
				{{player.turn}},
				{{player.last_dice}},
				{{player.roll_score}},
				{{player.turn_score}},
				{{player.score}},
				{{player.dice_left}}
			</div>
		</li>
	</ul>
	<button ng-disabled='players.length < 2' ng-click='newGame()'>New Game</button>
	<button ng-click='eraseAll()' id='erase_all'>Drop All</button>
</div>
